// MAIN CONTAINER -----------------------------------------------------------------------------
body {
  width: 100vw;
  display: grid;
  grid-template-rows: auto;

  // divides the page in six equally sized fractions
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  grid-template-areas:

  // creates a template to visually see the grid 
    // 1fr   1fr    1fr   1fr   1fr   1fr
    " one    one    one   one   one   one"
    " two    two    two   two   two   two"
    " three  three  four  four  four  four"
    " five   five   five  five  five  five";

  // shared css of all sections
  .section {
    padding: 20px;
    font-size: 30px;
    color: $text;
    text-align: center;
    border: 5px solid $alternative;

    // HEADER-----------------------------------
    &--header {
      background-color: $header;
      grid-area: one; // sets a name for the element's area to be used in grid-template-area
      height: auto;
    }

    // NAV -------------------------------------
    &--nav {
      background-color: $nav;
      grid-area: two; // sets a name for the element's area to be used in grid-template-area

      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 1.5rem;

      a {
          color: $alternative;
      }
      
      a:hover {
          color: $text;
      }

      }
    }

    // ASIDE ------------------------------------
    &--aside {
      background-color: $aside;
      grid-area: three; // sets a name for the element's area to be used in grid-template-area
      height: auto;
      padding: 50px;

      .side{
        padding: 50px;
        padding-bottom: 60px;

        img{
          width: 20vw;
          border-radius: 10px;
          padding-top: 10px;
        }
        a{
          background-color: $alternative;
          padding: 20px;
          border-radius: 10px;
        }

        a:hover{
          color: $aside;
        }
      }
    }

    // MAIN -------------------------------------
    &--main {
      background-color: $main;
      grid-area: four; // sets a name for the element's area to be used in grid-template-area
      height: auto;
      padding: 50px;

      p{
        margin: 50px;
      }
    }

    // FOOTER -----------------------------------
    &--footer {
      background-color: $footer;
      grid-area: five; // sets a name for the element's area to be used in grid-template-area
      height: auto;
    }
  }
}