// MEDIA QUERY MIXIN ------------------------------------------------------------
@mixin mobile {
    @media only screen and (max-width: 1020px) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin font-headers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
  }

@mixin horizontal-align {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// GLOBAL SETTINGS --------------------------------------------------------------
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $font;
}

body {
    background-color: $bk;
    
}